<mat-card>
  <mat-card-title>Wind Cockpit</mat-card-title>
  <mat-card-content #container>
    <wind-cockpit-chart
      [height]="500"
      [width]="container.offsetWidth"
      [apparentWindAngle]="apparentWindAngle"
      [speedOverGround]="speedOverGround"
      [courseOverGround]="courseOverGround"
      [apparentWindSpeed]="apparentWindSpeed"
      [magneticHeading]="magneticHeading"
      [trueWindAngle]="trueWindAngle"
    ></wind-cockpit-chart>
  </mat-card-content>
  <div>True Wind Speed: {{trueWindSpeed}}</div>
  <div>True Wind Angle: {{trueWindAngle}}</div>
  <div>True Wind Direction: {{trueWindDirection}}</div>
  <div>Velocity Made Good (gegen Wind): {{velocityMadeGood}}</div>
</mat-card>
