<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <agm-marker [latitude]="latitude"
              [longitude]="longitude">
    <agm-info-window [disableAutoPan]="true">
      Your current location
    </agm-info-window>
  </agm-marker>

  <agm-polyline strokeColor="red">
    <agm-polyline-point *ngFor="let position of positions"
                        [latitude]="position.latitude"
                        [longitude]="position.longitude">
    </agm-polyline-point>
  </agm-polyline>

</agm-map>
